<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Jack Devey",
    "jobTitle": "Research Assistant",
    "description": "Research Assistant in Robotics at Birmingham City University",
    "sameAs": [
      "https://linkedin.com/in/jackdevey",
      "https://scholar.google.com/citations?user=qlmvj88AAAAJ",
      "https://orcid.org/0009-0002-9513-2817",
      "https://www.scopus.com/authid/detail.uri?authorId=58752639500",
      "https://www.researchgate.net/profile/Jack-Devey",
      "https://sciprofiles.com/profile/jack-devey",
      "https://www.scilit.net/scholars/27712415",
      "https://ieeexplore.ieee.org/author/100213900312629"
    ],
    "url": "https://jw3.uk",
    "image": "https://scholar.googleusercontent.com/citations?view_op=view_photo&user=qlmvj88AAAAJ",
    "knowsAbout": ["Aerial Robotics", "Computer Vision","Machine Learning"],
    "affiliation": {
      "@type": "Organization",
      "name": "Birmingham City University",
      "url": "https://bcu.ac.uk"
    }
  }
</script>
